# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages for Data Science
- Some of the Libraries used in Data Science
- Popular Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Numbpy
3. Scikitlearn

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| VS Code           |
| R Studio          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
x=200
y=60
z = x/y
print(z);

3.3333333333333335

## Author
Kris Patel